body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  column-gap: 0;
  width: 100%;
  position: fixed;
}

button {
  text-align: center;
  width: 34%;
  padding: 8px 0;
  cursor: pointer;
}

.selectedItem {
  background-color: rgb(15, 14, 14);
  color: white;
}

button:focus {
  border-style: 1px solid;
}

main {
  padding-top: 35px;
}

td, th {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}